.row {
	display: flex;
	flex-wrap: wrap;
}

.justify-end { justify-content: flex-end;}
.justify-center { justify-content: center;}
.justify-between { justify-content: space-between;}
.align-end { align-items: flex-end;}
.align-center { align-items: center;}

[class*="colum"]{
	padding: 10px;
}
.align-items-center{
	align-items: center;
}
.colum1{width: 8.33%;}
.colum2{width: 16.66%;}
.colum3{width: 25%;}
.colum4{width: 33.33%;}
.colum5{width: 41.66%;}
.colum6{width: 50%;}
.colum7{width: 58.33%;}
.colum8{width: 66.66%;}
.colum9{width: 75%;}
.colum10{width: 83.33%;}
.colum11{width: 91.66%;}
.colum12{width: 100%;
}

	


